modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["libressl_3_6", "wget", "railway", "u-root-cmds"]

[workflows]
runButton = "Python"

[[workflows.workflow]]
name = "Python"
mode = "sequential"
author = 49026204

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080
