<!DOCTYE html>
<html>
<head>
    <title>Dashboard</title>
</head>

<body>
    <h1>Welcome to the Dashboard</h1>
    <p>This is the home page of the website.</p>
    <table>
        <tr>
            <th>Note</th>
            <th>Amount</th>
            <th>Purchase Date</th>
        </tr>
        {% for spend in spendings %}
        <tr>
            <td>{{ spend.note }}</td>
            <td>{{ spend.amount }}</td>
            <td>{{ spend.purchase_date }}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>



  
</html>